@{
    ViewData["Title"] = "Početna";
}

<div class="container d-flex h-75">
    <div class="row align-self-center w-100">
        <div class="col-4 form-bg mx-auto">
            <h3> Hello </h3>            
            <a asp-controller="Quiz" asp-action="CreateQuiz" asp-route-title="Zivotinjsko carstvo" asp-route-type="Zivotinje">Create test quiz</a>           
        </div>
    </div>
</div>
