@{
    ViewData["Title"] = "Login page";
}

<div class="container d-flex h-75">
    <div class="row align-self-center w-100">
        <div class="col-4 form-bg mx-auto">
            <form asp-controller="User" asp-action="TryLogin" class="login-form py-3">
                <label style="color: red">@ViewBag.MyMessage</label>
                <div class="form-group">
                    <label for="login-username">Korisničko ime</label>
                    <input type="text" class="form-control" name="username" id="login-username" placeholder="Korisničko ime...">
                </div>
                <div class="form-group">
                    <label for="login-password">Lozinka</label>
                    <input type="password" class="form-control" name="password" id="login-password" placeholder="Lozinka...">
                </div>
                <button type="submit" class="btn btn-primary">Prijavi se</button>
                <a asp-controller="User" asp-action="Register" class="btn">Registruj se</a>
            </form>
        </div>
    </div>
</div>
